# Keep this in sync with https://docs.civicrm.org/sysadmin/en/latest/requirements/#mysql

[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
max_allowed_packet=1024M
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci
