# Keep this in sync with https://docs.civicrm.org/sysadmin/en/latest/requirements/#mysql

[mysqld]
# By default MySQL 8.0 includes ONLY_FULL_GROUP_BY in sql-mode. It should be turned off as it might result in error for CiviCRM queries.
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
max_allowed_packet=1024M

# In MySQL 8 the default authentication plugin changes from mysql_native_password to caching_sha2_password. This may cause issues with your PHP layer.
default_authentication_plugin=mysql_native_password

# Turn off binary logging as it's default turned in MySQL 8.0. It's mainly used for replication
skip-log-bin

# Set - this is recommended by CiviCRM
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci

# Preallocate and limit the amount of space that can be used by temporary tables (https://chat.civicrm.org/civicrm/pl/eh138wwpciddbctuwuubqxjcaw)
innodb_temp_data_file_path=ibtmp1:100M:autoextend:max:10G

# Set a limit on long running SELECT statements (https://chat.civicrm.org/civicrm/pl/eh138wwpciddbctuwuubqxjcaw)
max_execution_time=600000
